* {
  background-color: #011627;
  color: #F6F7F8;
  font-family: "Bungee Inline";
}

#tagline {
  font-family: "Bungee Inline";
  color: #4cf7e6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pulsing-glow {
  animation: pulsate 2s infinite;
  box-shadow: 0 0 10px 2px gold;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 10px 2px gold;
  }
  50% {
    box-shadow: 0 0 20px 4px gold;
  }
  100% {
    box-shadow: 0 0 10px 2px gold;
  }
}

.pulsing-red {
  animation: redpulse 2s infinite;
  box-shadow: 0 0 10px 2px #ff0000;
}

@keyframes redpulse {
  0% {
    box-shadow: 0 0 10px 2px #ff0000;
  }
  50% {
    box-shadow: 0 0 10px 6px #ff0000;
  }
  100% {
    box-shadow: 0 0 10px 2px #ff0000;
  }
}

.pulsing-green {
  animation: greenpulse 2s infinite;
  box-shadow: 0 0 10px 2px #078500;
}

@keyframes greenpulse {
  0% {
    box-shadow: 0 0 10px 2px #078500;
  }
  50% {
    box-shadow: 0 0 10px 6px #078500;
  }
  100% {
    box-shadow: 0 0 10px 2px #078500;
  }
}



.big-link {
  margin-right: 1rem;
}
.big-link:hover {
  box-shadow: 0 0 10px 2px #ff00bb;
}

.next-btn,
.text-right {
  float: right;
}

.text-left {
  float: left
}

.reaction-btn {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 1rem;
}

#reacted:hover,
.prspan:hover {
  background-color: #ff000071;
}

/* Style the dropdown button */
.dropbtn {
  background-color: #011627;
  border: none;
  cursor: pointer;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #011627;
  width: 20vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show the dropdown content on hover */
.dropdown.active .dropdown-content {
  display: block;
}

/* Style the dropdown options */


.reactionbtn:hover {
  background-color: #032e51;
}
